/* MOVIES LIST */

.movies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .movies-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

}