:root {
  --black: #1D1F22;
  --white: #FFFFFF;
  --yellow: rgba(255, 255, 0, 0.964);
}

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.5%;
  color: var(--white);
  font-family: 'Raleway', sans-serif;
}
html::-webkit-scrollbar {
  width: 8px;
  background-color: var(--black);
  border-radius: 5px;
  border: 1px solid var(--black);
}
html::-webkit-scrollbar-thumb {
  border: 1px solid var(--white);
  border-radius: 5px;
  background-color: var(--black)/*  opacity(0.5) */;
} 
html::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--yellow);
  background-color: var(--yellow)
} 


body {
  background-color: var(--black);
}
/* HEADER */

.header {
  width: 100%;
  height: 200px;

  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
.header__title {
  margin: 0;
  font-size: 3.2rem;
  font-family: 'Audiowide', cursive;
  letter-spacing: 0.4rem;
  text-align: center;
}

.header__nav-ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 48px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  column-gap: 8px;

  list-style: none;
}

.link-header-nav {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--white);
  text-align: center;
  border: 2px solid var(--white);
  border-radius: 4px;
  padding: 8px 16px;
  background-color: rgb(253, 253, 253, 0.2);
}
.link-header-nav:hover {
  border: 2px solid var(--yellow);
  color: var(--yellow);
  background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 768px) {
  .header {
    height: 400px;
  }
  .header__title {
    font-size: 6.4rem;
  }
  .header .link-header-nav {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 600px;
  }
  .header__title {
    font-size: 8rem;
  }
  .header .link-header-nav {
    font-size: 3.2rem;
  }
}


/* SEARCH BAR */

.search-filter-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--white);
  margin-bottom: 24px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  font-size: 2rem;
  margin-bottom: 16px;
}

.search-bar__input-grid {
  display: grid;
  grid-template-columns: 5fr 1fr ;
  grid-template-rows: 35px 35px;
  grid-template-areas: 
    "title title"
    "input button";
}

.search-bar__subtitle {
  grid-area: title;
  font-size: 2.4rem;
}

.search-bar__input {
  grid-area: input;
  font-size: 1.6rem;
  outline: none;
  padding: 0 8px;
  background-color: var(--white);

  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.search-bar__input:active {
  background-color: var(--white);
}
.search-bar__input:focus {
  background-color: var(--white);
}
.search-bar__input:checked {
  background-color: var(--white);
}
.search-bar__input:hover {
  background-color: var(--white);
}

.search-bar__button {
  grid-area: button;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  cursor: pointer;

  border: none;
  border-left: 1px solid var(--black);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

@media (min-width: 1200px) {
  .search-filter-container {
    flex-direction: row;
  }
  .search-filter-container form {
    margin: 16px 32px;
  }
}



/* FILTER */

.rate-input {
  display: none;
}

.rate-label {
  color: var(--yellow);
  cursor: pointer;

  font-size: 2.4rem;
}

.filter-title {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.stars-container {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .filter-title {
    font-size: 2.4rem;
  }
}



/* MOVIES LIST */

.movies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .movies-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

}


/* MOVIE ARTICLE */
.link-movie-article{
  margin: 8px 0;
}
.movie-article {
  cursor: pointer;
  position: relative;
  width: 300px;
}

.movie-article__hover-view {
  display: none;
}

.movie-article:hover .movie-article__hover-view {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8), rgba(0,0,0,0.3));


  color: var(--white);
}

.movie-article__title {
  font-size: 2.4rem;
  width: 80%;
  text-align: center;
  line-height: 3rem;
}

@media (min-width: 768px) {
  .link-movie-article{
    margin: 16px;
  }

}


.movie-not-found {
  min-height: 200px;
  width: 72%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid var(--white);
  border-radius: 8px;
  padding: 8px;
}
.movie-not-found__title {
  font-size: 2rem;
  text-align: center;
  color: var(--yellow);
}
.movie-not-found__text {
  font-size: 2rem;
  text-align: center;
  color: var(--white);
}


/* MOVIE DETAIL */

.movie-detail {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;

  width: 100%;
}

.movie-detail__title {
  width: 80%;
  font-size: 2.4rem;
  text-align: center;
  margin: 16px 0;
}

.movie-detail__info-container {
  min-height: 500px;
  position: relative;

}

.movie-detail__info {
  margin: 80% 24px 24px;
  font-size: 1.6rem;
}


@media (min-width: 768px) {
  .movie-detail__info {
    width: 60%;
    margin: 80% auto 24px;
    font-size: 2rem;
  }
  .movie-detail__title {
    font-size: 3.2rem;
  }

}

@media (min-width: 1200px) {
  .movie-detail__info-container {
    width: 70%;
    border-radius: 8px;
  }
  .movie-detail__info {
    margin: 50% auto 48px;
  }
}


/* ABOUT */

.about {
  min-height: 200px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  margin: 16px 0;
  text-align: center;
  font-size: 2.4rem;
}
.about__info {
  margin: 8px 0;
  width: 80%;
  text-align: center;
  font-size: 1.6rem;
}
.about-info__link {
  color: var(--white);
}
.about-info__link:hover {
  color: var(--yellow);
}

@media (min-width: 768px) {
  .about {
    min-height: 300px;
  }
  .about__title {

    font-size: 3.2rem;
  }
  .about__info {
    text-align: center;
    font-size: 2rem;
  }

}

/* FOOTER */

.footer {
  border-top: 1px solid var(--white);
  margin-top: 24px;
  padding: 16px;
}
.footer nav {
  margin: 16px 0;
}




@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 32px;
  }

}